

body {
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 30px 0;
    color: #333;
}

li {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
}

h2 {
    color: #333;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

a {
    display: block;
    margin-top: 15px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    border-radius: 5px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #555;
}
